@media screen and (min-width: 200px) and (max-width: 640px) {
  .paragraphe_md {
    	top:0px;
  }
 .h4_md{
 	font-size: 25px;
	}

  .h3_md{
  	font-size: 30px !important;
  }

  .button_md{
	vertical-align: middle !important;
	top: 10px !important;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .paragraphe_md {
    	width: 90%;
    	padding-top: 10px !important;

  }
  .h4_md{
  	font-size: 20px !important;
	}

  .h3_md{
  	font-size: 25px !important;
  }

  .button_md{
	vertical-align: middle !important;
	top: 10px !important;

  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .paragraphe_md{
  	vertical-align: middle !important;
  }
  .bloc_md{
  	padding-top: 110px;
  	position: relative;
  }
}
 
.container{
	vertical-align: middle;
}
img{
	width: 100%;
	position: absolute;
	font-size: 10px;
	z-index: 1;
}


.h3_md{
	font-size: 6vw; 
	font-family: 'Merriweather', arial, cursive;
	position: relative;
	text-align: center;
	width: 50%;
	margin: auto;
	padding-top: : 5%;
	z-index: 2;

}


.h4_md{
	position: relative;
	font-family: 'Merriweather', arial, cursive;
	text-align: center;
	padding-top: 10px;
	font-size: 3vw;
	z-index: 3;
}


hr{
	width: 10%;
	height: 1px;
	border: 1px solid black;
	position: relative;
	background-color: black;
	z-index: 4;

}


.paragraphe_md{
	position: relative;
	font-family:'Roboto', arial, cursive;
	text-align: center;
	width: 80%;
	margin: auto;
	padding-top: 100px;
	font-size: 15px;
	z-index: 5;
	vertical-align: middle

}

.button_md {
	z-index: 7;
	background-color: black;
	position: relative;
	color: white;
	background-color: #222222;
	border-color: #222222;
	font-style: 'Roboto', arial, cursive;
	display: block;
	margin:auto;
	vertical-align: middle;
	top: 60px;
}


.button_md:hover{
	background-color: #ef0300;
	border-color: #ef0300;
}




